body {
    text-align: center;
}
.formulario {
    margin-top: 5vh;
    font-family: 'Poppins', sans-serif;
    width: auto;
    display: flex;
    justify-content: center;
}

.resultadocontacto{
    display:flex;
	justify-content: center;
    width: auto;
}

.captcha{
    display:flex;
	justify-content: center;
}