.contenido-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:  20px;
    background-color: #F9FAFB;
    width: 100%;
    min-width: 40vw;
}

.bloque-item{
    flex-direction: column;
    padding: 30px;
    height: auto;
    width: auto;
    margin-top: 10%;
    padding-top: 40px;
}
.letra-item{
    font-size: 17px;
}
@media (min-width:768px){
    .contenido-item{
        width: 30vw;
        padding:  40px;
    }
    .bloque-item{
        flex-direction: row;
        padding: 50px;
        height: 80vh;
        width: 70vw;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .letra-item{
        font-size: 20px;
    }
}

.titulo-item{
    display: flex;
    font-weight: 700;
}

.formulario-item{
    padding: 1vh;
    font-family: 'Poppins', sans-serif;
    width: auto;
    display:flex;
    flex-direction: column;
}

.formulario-item label{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.formulario-item select{
    text-align: center;
    padding: 1rem;
    border: 0.5px solid #262626;
    border-radius: 1rem;
}

.formulario-item input[type="submit"]{
    margin-top: 1.8rem;
    background-color: #105157;
    color: white;
    text-transform: uppercase;
    padding: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    transition-property: background-color;
    transition-duration: 300ms;
    width: auto;
}

.formulario-item input[type="submit"]:hover{
    cursor: pointer;
    background-color: green;
}

.titulo{
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    margin:0;
}

.precio{
    margin:0;
    display: flex;
    align-items: center;
    font-size: 28px;
}

.descripcionProducto{
    font-size: 1.1rem;
    text-align: left;
}

.botonesDetallesProducto{
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-items: center;
    width: 60%;
}
.botonesDetallesOpciones{
    margin-bottom: 6px;
    border-radius: 15px;
    background-color: #105157 ;
    border: none;
    color: white;
    font-size: 0.8rem;
}
.tituloOpcionesProducto{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 200;
    font-size: 2rem;
    margin:0;
}
.max-width-img {
    max-width: 500px;
  }