
.card {
    padding-top: 20px !important;
    height: auto !important;
    width: auto !important;
    font-family: 'Josefin Sans', sans-serif;

  }

.imagen{
    border-radius: 10% !important;
    padding: 5%;
}
.botones{
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-items: center;
}
.botonopciones{
    margin-bottom: 6px;
    border-radius: 15px;
    background-color: #167067 ;
    border: none;
    color: white;
}