
.card {
    padding-top: 15px !important;
    height: auto !important;
    width: auto !important;
    font-family: 'Poppins', sans-serif;
  }

.imagen{
    border-radius: 10% !important;
    padding: 4%;
}
.botonesproducto{
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-items: center;
    width: 70%;
}
.botonopciones{
    margin-bottom: 6px;
    border-radius: 15px;
    background-color: #105157 ;
    border: none;
    color: white;
}