.navbar-global{
    color: #167067;
    background: black;
}
.NavToogler-empaty{
    color: white !important;
    border-color: #167067 !important;
    background-color: #167067 !important;
    margin-right: 30px;
}

.NavLink-empaty{
    color: #167067 !important;
    max-width: auto;
    text-align: center;
    border-radius: 15px;
}

.NavLink-empaty:hover{
    color: #167067 !important;
    cursor: pointer;
    background: white !important;
}

.Nav-dropdown-menu{
    background:white !important;
    max-width: 200px;
    
}

.Nav-dropdown{
    background: white !important;
    color: #167067 !important;
    max-width: 200px;
}

.Nav-dropdown:hover{
    background:white !important;
    color: #167067 !important;
    border-radius: 15px;
    cursor: pointer;
}

.NavLink-empaty.alerta{
    position: relative;
    margin-right: 7px;
}

.NavLink-empaty.alerta.sol{
    max-width: 200px;
}
.NavLink-empaty.alerta.al{
    max-width: 200px;
}

.contador {
    position: absolute;
    top: -3px;
    right: -5px;
    padding: 5px 10px;
    border-radius: 50%;
    background: #be6d16;
    color: #167067;
}

.logout{
    min-width: 70px;
    text-align: center;
    cursor: pointer;
    background: #1e9488;
    border-radius: 10px;
    border: none;
    color: #167067 !important;
}
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.barraverde{
    background-color: #167067;
    min-height: 11vh;
    height: auto;
    width:auto;
}

.navbarsize{
    width: auto;
}

.barraverdecollapse{
    background-color: #167067;
    min-height: 1px;
    height: auto;
    width:auto;
}
