.navbar-global{
    color: #105157;
    background: black;
}
.NavToogler-descycling{
    color: white !important;
    border-color: white !important;
    background-color: #105157 !important;
    margin-right: 30px;
}

.NavLink-descycling{
    color: white !important;
    max-width: auto;
    text-align: center;
    border-radius: 15px;
    margin: 10px;
}

.NavLink-descycling:hover{
    color: #105157 !important;
    cursor: pointer;
    background: white !important;
}

.Nav-dropdown-menu{
    background:white !important;
    max-width: 200px;
    
}

.Nav-dropdown{
    background: white !important;
    color: #105157 !important;
    max-width: 200px;
}

.Nav-dropdown:hover{
    background:white !important;
    color: #105157 !important;
    border-radius: 15px;
    cursor: pointer;
}

.NavLink-descycling.alerta{
    position: relative;
    margin-right: 7px;
}

.NavLink-descycling.alerta.sol{
    max-width: 200px;
}
.NavLink-descycling.alerta.al{
    max-width: 200px;
}

.logout{
    min-width: 70px;
    text-align: center;
    cursor: pointer;
    background: #1e9488;
    border-radius: 10px;
    border: none;
    color: #105157 !important;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}


.navbarsize{
    width: auto;
}

.DropdownMenu{
    background: white;
    color: #105157;
    padding: 8px;
    cursor: pointer;
    transition:  0.1s ease;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;
    align-self: center;
}

.DropdownMenu:hover{
    background: #105157;
    color: white;
}

.navbar-nav .dropdown-menu {
}