.bloqueimagendescripcion {
    padding: 10px;
    margin: 10px;
    box-shadow: 0 6px 6px rgba(0,0,0,0.15);
    max-width: 240px !important;
}
  
@media screen and (max-width: 768px) {
    .bloqueimagendescripcion {
        margin: 20px 0; /* Reducir el margen lateral */
    }
}

.parrafodescriptivo{
    max-width: 500px;
    text-align: justify;
    margin: 0 auto;
    font-size: 14px;
}
  
.imagenparrafo{
    border-radius: 50%;
    max-width: 250px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}