.contenedor {
  }

.item-1 {
    background-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 20px;
    margin-top: 2vh;
    box-shadow: 0 6px 6px rgba(0,0,0,0.15);
}

.item-2 {

    background-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 20px;
    box-shadow: 0 6px 6px rgba(0,0,0,0.15);
}



@media only screen and (min-width: 878px){

    .contenedor {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 1fr 2fr 1fr;
        position: relative;
        height: 95vh;
      }

    .item-1 {
        grid-row: 2/3; 
        grid-column: 2/4;
        color: black;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        padding: 20px;
        margin-top: 2vh;
        box-shadow: 0 6px 6px rgba(0,0,0,0.15);
    }

    .item-2 {
        grid-row: 4/5; 
        grid-column: 4/6;
        color: black;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        padding: 20px;
        box-shadow: 0 6px 6px rgba(0,0,0,0.15);
    }

    .item-3 {
        grid-row: 3; 
    }
}

@media only screen and (max-width: 878px){

    .item-1 {
       margin: 2vw;
       margin-top: 2vh;
    }

    .item-2 {
        margin: 2vw;
        margin-top: 2vh;
    }

    .item-3 {
        margin: 2vw;
        margin-top: 2vh;
    }
}

@media only screen and (max-width: 1000px) and  (min-width: 870px){
    .contenedor {
        margin-bottom: 550px;
      }    
}

@media only screen and (max-width: 1350px) and  (min-width: 1001px){
    .contenedor {
        margin-bottom: 350px;
      }    
}