.row {
  display: flex;
  flex-wrap: wrap;
}

.bloqueproductos{
  background-color: white;
  color: black;
  margin: 10px auto;
  padding: 30px;
  min-width: 300px;
  max-width: 1400px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  position: relative;
  box-shadow: 0 10px 10px rgba(0,0,0,0.15);
}

.bloqueestadisticas{
  color: black;
  margin: 10px auto;
  margin-top: 5vh;
  padding: 20px;
  min-width: 300px;
  max-width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 10vw;
  padding-right: 10vw;
}

@media (max-width:768px){
  .bloqueestadisticas{
      justify-content: center;
  }
}


.bloquetotal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #105157;
  min-height: 20vh;
  height: auto;
  color: white;
  width: auto; 
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  position: relative;
  box-shadow: 0 6px 6px rgba(0,0,0,0.15);
  display: flex;
  flex-wrap: wrap;
  padding: 2vw;
}

.botonSecciones{
  background-color: #105157;
  color: white;
  text-decoration: none;
  border: 0px;
  border-radius: 30px;
  width: 100%;
  padding: 7px;
  font-size: 13px;
}

.botonSecciones:hover {
  background-color: green;
}

h2,h3,h4,h5{
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h5{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem !important;
}

@media (max-width:768px){
  h5{
    font-size: 1rem !important;
  }
}

p{
  text-align: center;
}

h1{
  font-family: 'Poppins', sans-serif;
}

h2{
  font-family: 'Poppins', sans-serif;
}

h5{
  font-family: 'Poppins', sans-serif;
}

.botones{
  display:flex;
	justify-content: center;
}

.imagenhorizontal{
  max-height: 650px;
}
.imagenvertical{
  height: 300px;
  width: 100%;
}

.imagenSecciones {
  border-radius: 10%;
  max-width: 250px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.imagenSecciones:hover {
  cursor: pointer
}

.bloqueimagenboton {
  display: flex;
  justify-content: center;
  padding: 20px;
  justify-self: center;
}

.reproductor{
  display: flex;
  justify-content: center;
}

.numeros{
  font-size: 27px;
  color: white;
}

.letraEstadistica{
  color: white;
  font-size: 15px;
}


.bloquedescripcion {
  background-color: white;
  color: black;
  margin: 10px auto;
  min-width: 250px;
  max-width: 1600px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  position: relative;
}

.imagenEncuesta{
  border-radius: 50%;
  width: auto !important;
  max-height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bloqueimagenEncuesta {
  display: flex;
  justify-content: center;
  padding: 20px;
  justify-self: center;
  background-color: #F0F0F1;
  margin: 10px;
}

.link{
  color: #22AAA6;
  cursor: pointer;
}

.tituloEncuesta{
  font-weight: bold;
  font-size: 18px;
}

.textoEncuesta{
  font-size: 14px;
}
.circulo{
  border-radius: 50%;
  background-color: #105157;
  height: 160px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  flex-direction: column;
  box-shadow: 0 6px 6px rgba(0,0,0,0.15);
}
