.colprensa{
    display: flex;
    padding: 10px;
}

.noticia{
    width: 50%;
}

@media screen and (max-width: 768px) {
    .noticia{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .colprensa{
        margin: 10px;
    }
}